* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5; 
    color: #333;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3a93; 
    color: #fff;
    padding: 15px;
}
nav:hover{
    background-color: #333;
}
.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    margin: 0px 15px;
}
.nav-links li:hover {
   background-color: transparent;
   border-left: 5px solid transparent;
}

.nav-links a {
    color: #7f73ed; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffca28; 
}


nav .logo {
    display: flex;
    align-items: center;
}

nav .logo .image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffca28;
    margin-right: 10px; 
}


header {
    text-align: center;
    padding: 50px 0;
    background-color: #2c3e50; 
    color: white;
}

header:hover{
    background-color: #434342;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

header video {
    max-width: 100%;
    border: 3px solid #ffca28; 
    border-radius: 10px;
    margin-top: 20px;
}


section {
    margin: 40px 0;
}

h2 {
    color: #1f3a93; 
    font-size: 2em;
    margin-bottom: 15px;
}


.skills-list {
    display: flex;
    justify-content: space-between;
}

.skills-list div {
    width: 48%;
}

.skills-list ul li {
    margin-bottom: 10px;
}

ul li {
    background-color: #fff;
    padding: 10px;
    border-left: 5px solid #ffca28;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(221, 18, 18, 0.1);
}



#contact ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #ffca28; 
    border-radius: 4px;
}

#contact a {
    color: #1f3a93;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #ffca28; 
    font-size: larger;
    transition: color 0.9s ease;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #1f3a93; 
    color: white;
    margin-top: 40px;
}
footer:hover{
    background-color: #5b76d0;
}


.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 32px;
    color: white;
}
.icon{
    width: 15px;
    height: 15px;
}
.icon:hover{
    width: 20px;
    height: 20px;
}
.footer-contents{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}

#footer-links img{
    width: 25px;
    height: 25px;
    margin: 20px 20px;
    justify-content: space-between;
}
#footer-links img:hover{
    width: 35px;
    height: 35px;
}




@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #1f3a93;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .nav-links li {
        margin: 0;
        padding: 15px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    nav {
        justify-content: space-between;
    }
}
